<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="vendor/bootstrap/css/bootstrap.css" rel="stylesheet" type="text/css">
    <link href="vendor/fontawesome/fontawesome.min.css" rel="stylesheet" type="text/css">
    <link href="vendor/fontawesome/all.min.css" rel="stylesheet" type="text/css">
    <script src="vendor/fontawesome/fontawesome.min.js" type="text/javascript"></script>
    <script src="vendor/angular/angular.min.js" type="text/javascript"></script>
    <script src="vendor/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
    <script src="js/sales.js" type="text/javascript"></script>
    <title>Sales</title>
</head>
<body ng-app="app" ng-controller="sales">


    <form class="form-inline">
        <div class="form-group">
            <label >Search</label>
            <input type="text" ng-model="search" class="form-control" placeholder="Search">
        </div>
    </form>

    <table class="table table-striped table-hover">
        <caption>List of sales</caption>
        <thead class="thead-light">
        <tr>
            <th ng-click="sort('id')">Id
                <span class="fas fa-sort" ng-show="sortKey=='id'" ng-class="{'fas fa-chevron-up':reverse,'fas fa-chevron-down':!reverse}"></span>
            </th>
            <th ng-click="sort('product')">Product
                <span class="fas fa-sort" ng-show="sortKey=='product'" ng-class="{'fas fa-chevron-up':reverse,'fas fa-chevron-down':!reverse}"></span>
            </th>
            <th ng-click="sort('price')">Price
                <span class="fas fa-sort" ng-show="sortKey=='price'" ng-class="{'fas fa-chevron-up':reverse,'fas fa-chevron-down':!reverse}"></span>
            </th>
            <th ng-click="sort('quantity')">Quantity
                <span class="fas fa-sort" ng-show="sortKey=='quantity'" ng-class="{'fas fa-chevron-up':reverse,'fas fa-chevron-down':!reverse}"></span>
            </th>
        </tr>
        </thead>
        <tbody>
            <tr dir-paginate="sale in salesList|orderBy:sortKey:reverse|filter:search|itemsPerPage:10">
                <td>{{sale.id}}</td>
                <td>{{sale.product}}</td>
                <td>{{sale.price}}</td>
                <td>{{sale.quantity}}</td>
            </tr>
        </tbody>

    </table>

        <dir-pagination-controls
                max-size="5"
                direction-links="true"
                boundary-links="true" >
        </dir-pagination-controls>


</body>
</html>