<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <script src="vendor/angular/angular.min.js" type="text/javascript"></script>
    <script src="vendor/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
    <script src="js/employees.js" type="text/javascript"></script>
    <title>Employees</title>
</head>
<body ng-app="app" ng-controller="employees">



<table class="table">
    <caption>List of employees</caption>
    <thead>
    <tr>
        <th scope="col">Id</th>
        <th scope="col">First Name</th>
        <th scope="col">Last Name</th>
        <th scope="col">Email</th>
    </tr>
    </thead>
    <tbody ng-repeat="employee in employeeList">
    <tr>
        <td>{{employee.id}}</td>
        <td>{{employee.firstName}}</td>
        <td>{{employee.lastName}}</td>
        <td>{{employee.email}}</td>
    </tr>
    </tbody>
</table>

</body>
</html>